@model KMWG_MVCApp.DB.uzm_portaluser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Name         : ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uzm_name)
        </dd>

        <dt>
            @Html.DisplayName("Birth Date : ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uzm_bdate)
        </dd>


        <dt>
            @Html.DisplayName("Weight:  ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uzm_weight)
        </dd>

        <dt>
            @Html.DisplayName("User Name: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uzm_username)
        </dd>
        <dt>
            @Html.DisplayName("Password: ")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uzm_password)
        </dd>

        <dt>
            @Html.DisplayName("Gender: ")
        </dt>

        <dd>
            @*@Html.DropDownList("Cinsiyet", EnumHelper.GetSelectList(typeof(KMWG_MVCApp.Models.cinsiyetEnum)).Where(model => model.uzm_iscinsiyet), new { @class = "form-control" })*@
            @Html.DisplayFor(model => model.uzm_iscinsiyet)
          



        </dd>
        <dt>
            @Html.DisplayName("Country: ")
        </dt>

        <dd>

            @Html.DisplayFor(model => model.uzm_iscountry)

        </dd>
        <dt>
            @Html.DisplayName("City: ")
        </dt>

        <dd>

            @Html.DisplayFor(model => model.new_cityid.Name)
        </dd>
        <dt>
            @Html.DisplayName("County: ")
        </dt>

        <dd>

            @Html.DisplayFor(model => model.new_countyid.Name)
        </dd>
        <dt>
            @Html.DisplayName("Company: ")
        </dt>

        <dd>

            @Html.DisplayFor(model => model.new_countyid.Name)
        </dd>
        <dt>
            @Html.DisplayName("Incident: ")
        </dt>

        <dd>

            @Html.DisplayFor(model => model.uzm_incidentid.Name)
        </dd>
        <dt>
            @Html.DisplayName("Category: ")
        </dt>

        <dd>

            @Html.DisplayFor(model => model.uzm_categoryid.Name)
        </dd>
        <dt>
            @Html.DisplayName("Subject: ")
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.uzm_subject)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "TumListe")
</p>