@model KMWG_MVCApp.DB.uzm_portaluser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
   
    <hr />
    <dl class="dl-horizontal">
      
        <dt>
            @Html.DisplayNameFor(model => model.uzm_bdate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uzm_bdate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uzm_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uzm_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uzm_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uzm_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uzm_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uzm_password)
        </dd>

        <dt>
            @Html.DisplayName("Konu")
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.uzm_subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uzm_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uzm_username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
