@model KMWG_MVCApp.DB.uzm_county

@{
    ViewBag.Title = "UlkeIlIlce";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UlkeIlIlce</h2>

<div>
    <h4>uzm_county</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogicalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogicalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RowVersion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RowVersion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.new_countycode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.new_countycode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OverriddenCreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OverriddenCreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.uzm_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.uzm_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
